@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Model_01</title>
</head>
<body>
    <form action="/Account/Login_01" method="post">

        <p>
            用戶名稱:
            <input name="LoginName" type="text" value="" />
        </p>

        <p>
            用戶密碼:
            <input name="Password" type="text" value="" />
        </p>

        <p>
            <input type="submit" value="送出" />
        </p>

        <p>
            參考格式: 帳號 admin/ 密碼 admin
        </p>
        @ViewBag.MsgErr

    </form>
</body>
</html>
