<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>==== 用戶登入驗證操作 =====</p>

    <p><a href="/Account/Index">UserLogin</a></p>

    <p>==== 查詢資料操作 MSSQL=====</p>

    <p><a href="Article/List_Tabl"</p>
</body>
</html>
