@model WebApplication1.Models.Student
@{
    ViewBag.Title = "Index";
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>起始頁面</title>
</head>
<body>
    <p>==== 程式語言測試 ======</p>
    @using (Html.BeginForm())
    {
        <p>StudentId:<input type="text" name="studentid" /></p>
        <p>StudentName:<input type="text" name="studentname" /></p>
        <p>Age:<input type="text" name="age" /></p>
        <p><input type="submit" value="送出"></p>
    }

    <div>
        @Model.StudentName<br>
        @Model.Age<br>
        @Model.StudentId<br>
    </div>


</body>
</html>
