
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Model_01</title>
</head>
<body>
    <div>
        <p>==== 用戶登入驗證操作 =====</p>

        <p><a href="/Account/Model_01" target="_blank">UserLogin</a></p>

        <p>==== 查詢資料操作 MSSQL=====</p>

        <p><a href="/Article/List_Table_OrderByDescending_MSSQL" target="_blank">List_Table_OrderByDescending_MSSQL</a></p>

    </div>
</body>
</html>
